/*ABOUT*/
.about-us {
  width: 1240px;
  height: 344px;
  position: absolute;
  top: 1172px;
  gap: 50px;
  color: #fff;
  margin: 0 100px 150px 100px;
}

.about-us .title,
.our-courses .title {
  font-family: "DM Sans", sans-serif;
  width: 196px;
  height: 54px;
  font-weight: 500;
  font-size: 48px;
  line-height: 54px;
  letter-spacing: -4%;
}

.about-us .title span,
.our-courses .title span {
  color: #bea69e;
}

.about-us .section,
.our-courses .section {
  display: flex;
  justify-content: space-between;
}

.about-us .section img {
  width: 560px;
  height: 240px;
  border-radius: 1000px;
  object-fit: cover;
}

.about-us .section p,
.our-courses .section p {
  font-family: "DM Sans", sans-serif;
  width: 314px;
  height: 220px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -2%;
}

.about-us .paragraph {
  width: 630px;
  height: 220px;
  display: flex;
  gap: 40px;
}

.about-us .section .right {
  width: 276px;
  height: 215px;
}

.about-us .section .left {
  width: 314px;
  height: 220px;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .about-us {
    width: 335px;
    height: 630px;
    top: 975px;
    left: 20px;
    gap: 40px;
  }

  .about-us .section p,
.our-courses .section p {
  font-family: DM Sans;
font-weight: 400;
font-size: 14px;
line-height: 18px;
letter-spacing: -2%;

}

  .about-us .section,
  .our-courses .section {
    flex-wrap: wrap;
  }

  .about-us .paragraph {
    flex-wrap: wrap;
    width: 335px;
    height: 309px;
    gap: 20px;
  }

  .about-us .section .right {
    width: 276px;
    height: 215px;
  }

  .about-us .section .left {
    width: 335px;
    height: 162px;
  }

  .about-us .title,
  .our-courses .title {
    width: 114px;
    height: 32px;
    font-size: 28px;
    line-height: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about-us {
    width: 704px;
    height: 734px;
    top: 1318px;
    left: 32px;
    gap: 50px;
  }
  .about-us .section {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1280px) {
}
