/*Course*/
.our-courses .title {
  width: 265px;
  height: 54px;
}

.our-courses .section {
  width: 1240px;
  height: 60px;
  gap: 410px;
}

.our-courses ol {
  list-style: none;
}

.box > p {
  width: 336px;
  color: #ffffff80;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -2%;
  position: absolute;
  width: 336px;
  height: 60px;
  top: 360px;
  left: 32px;
}

.our-courses .section p {
  width: 565px;
  height: 60px;
  margin: 0;
}

.our-courses {
  top: 1666px;
  width: 1240px;
  position: absolute;
  height: 562px;
  color: #fff;
  margin: 150px 100px;
}

.our-courses .box {
  width: 400px;
  height: 452px;
  border-radius: 12px;
  border: 1px solid #ffffff33;
  background: linear-gradient(#060707, #1d1d1d);
  position: relative;
}

.our-courses .box .title {
  font-family: "DM Sans", sans-serif;
  top: 96px;
  left: 32px;
  width: 265px;
  height: 64px;
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0%;
  position: absolute;
}

.our-courses .title {
  margin: 0;
}

.our-courses .box-group {
  display: flex;
  top: 110px;
  position: absolute;
  gap: 12px;
  width: 1240px;
  height: 452px;
}
.box-group .box-top {
  margin-left: 32px;
  margin-top: 32px;
  display: flex;
  width: 336px;
  height: 32px;
  gap: 286px;
  align-items: flex-end;
}

.box-top p {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  color: #ffffff66;
}

.box a {
  background-color: #1d1d1d;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box a:hover {
  background-color: #bea69e;
}

.box:first-child .box-top {
  gap: 290px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .our-courses .box-group {
    flex-wrap: wrap;
    width: 480px;
  }
  .our-courses {
    width: 335px;
    height: 1398px;
    top: 1809px;
    left: 20px;
  }
  .our-courses .section {
    flex-wrap: wrap;
    width: 335px;
    height: 124px;
    gap: 20px;
  }

  .box {
    width: 335px;
    height: 398px;
    top: 164px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .our-courses .box-group {
    flex-wrap: wrap;
  }
  .our-courses {
    width: 704px;
    height: 1054px;
    top: 2152px;
    left: 32px;
    gap: 50px;
  }

  .our-courses .section {
    width: 704px;
    height: 80px;
    gap: 58px;
  }
}

@media screen and (min-width: 1280px) {
}
