body{
    font-family: "DM Sans", sans-serif;
    background-color: #121212;
    width: 1440px;
    height: 4391px;
}
/*HEADER*/
.header{
    display: flex;
    gap:20px;
    margin: 20px 100px 80px 100px;
    width:1240px;
    height: 60px;
}
.header-div{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid #121212;
    border-radius: 12px;
    width: 982px;
    height: 60px;
}
.logo{
    margin-top: 22px;
    margin-bottom: 22px;
    margin-left: 50px; 
    font-weight: 700;
    font-size: 18px;
}
.header-nav{
    display: flex;
    list-style: none;
    gap: 40px;
    margin:41px 50px 41px 209px;
}
.header-list{
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing:0%;
  color: #FFFFFF;
  
}
.header.btn{
    width: 238px;
    height: 60px;
    border: 1px solid #FFFFFF;
    border-radius: 12px;
    padding: 16px 84px;
    margin-top: 20px;
    margin-bottom: 80px;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #121212;
}