/*Mentors*/
.our-mentors {
    background: linear-gradient(180deg, #1d1d1d 0%, #060707 100%);
    text-align: center;
}

.mentors{
  width: 1240px;
  height: 354px;
  top: 2378px;
  
  position: absolute;
  margin: 150px 100px;
}
.title-mentors {
    font-size: 48px;
    font-weight: 500;
    margin:0 974px 50px 0;
    width: 266px;
    height: 54px;
    color: #fff;
}

.title-color {
    color: #BEA69E;;
}

.list-mentors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    list-style: none;
    padding: 0;
    margin: 50px 103px 0 103px;
    max-width: 1200px;
}

.list-mentor {
    background: none;
    padding: 0;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    width: 100%;
    gap: 16px;
    max-height: 250px;
    max-width: 180px;
    border-radius: 0; 
}

.list-mentor:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        
}

.our-mentor {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    object-fit: cover;
    display: block;
    background-color: #513f3f; /* Eğer resim yüklenmezse gri arka plan gösterir */
    
}

.info-mentors {
    max-width: 174px;
    max-height: 54;
    margin-top: 16px;
    text-align: center;
}

.name-mentors {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 4px;
}

.experience {
    
    line-height: 18px;
    margin-top: 4px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}
@media (min-width:375px) and (max-width:767px){
 .mentors{
    width: 335px;
    height: 1152px;
    top: 3287px;
    left: 20px;
    margin-bottom: 80px;
 }
 .title-mentors{
    font-size: 28px;
    line-height: 32px;
    width: 155px;
    height: 32px;
 }
 .list-mentor{
    width: 185px;
    height: 240px;
    gap: 16px;
    margin: 40px 75px;
 }
 .info-mentors{
    margin: 16px 18px 0 18px;
    width: 149px;
    height: 44px;
 }
 .list-mentors {
    gap: 0px;
}

}
@media (min-width:768px) and (max-width:1279px) {
    .mentors{
        width: 704px;
        height: 697px;
        top: 3306px;
        left: 100px;
        margin: 100px 32px;
     }
     .title-mentors{
        font-size: 48px;
        line-height: 54px;
        width: 266px;
        height: 54px;
     }
     .list-mentor{
        width: 194px;
        height: 250px;
        gap: 16px;
        display: flex;
     }
     .info-mentors{
        margin: 16px 18px 0 18px;
        width: 149px;
        height: 44px;
     }
}