<div class="body-back">
    <header class="header">
        <div class="header-div">
            <a href="./index.html" class="logo">Focus.Frame</a>
            <nav>
                <ul class="header-nav">
                    <li class="header-list"><a href="">ABOUT US</a></li>
                    <li class="header-list"><a href="">OUR COURSES</a></li>
                    <li class="header-list"><a href="">OUR MENTORS</a></li>
                    <li class="header-list"><a href="">REVİEWS</a></li>
                    <li class="header-list"><a href="">CONTACTS</a></li>
                </ul>
            </nav>
        </div>
            <button type="button" class="header-btn">SIGN UP</button>
    </header>
    <section class="hero-section">
        <div>
            <h1 class="h1">Discover the magic of <span class="par-span">photography</span> in our school</h1>
            <p class="hero-text">Our photography school offers an unforgettable journey, where you can learn the basics of composition, master technical skills, translate your unique ideas.</p>
            <div class="block">
                <div class="users">
                    <ul class="images stacked-images">
                        <li class="users-img"><img src="./images/girl 1.jpg" alt="girl-1" width="54" height="54"></li>
                        <li class="users-img"><img src="./images/boy.jpg" alt="boy" width="54" height="54"></li>
                        <li class="users-img"><img src="./images/girl.jpg" alt="girl" width="54" height="54"></li>
                    </ul>
                    <div class="users-text">
                        <a href="#reviews-link">
                            <p class="user-p">Our happy students</p>
                         <svg width="18" height="8.66" class="focus-svg">
                            <use href="./images/icons.svg#icon-Arrow-2"></use>
                         </svg>
                        </a>
                        
                </div>
                </div>
                
                <div class="reviews">
                    <div class="rec">
                        <svg width="20" height="20" class="vector-svg">
                            <use href="./images/icons.svg#icon-vector"></use>
                        </svg>
                    </div>
                    <div class="rec-text">
                        <h2 class="rec-h2">Reviews</h2>
                        <p class="rec-p">+1500</p>
                    </div>
                </div>
                
            </div>
        </div>
         <img src="./images/Rectangle 5.jpg" alt="hero"  width="397" height="520" class="hero-img">
    </section>
</div>
