
    <header class="header">
        <div class="header-div">
            <a href="./index.html" class="logo">Focus.Frame</a>
            <nav>
                <ul class="header-nav">
                    <li class="header-list"><a href="">ABOUT US</a></li>
                    <li class="header-list"><a href="">OUR COURSES</a></li>
                    <li class="header-list"><a href="">OUR MENTORS</a></li>
                    <li class="header-list"><a href="">REVİEWS</a></li>
                    <li class="header-list"><a href="">CONTACTS</a></li>
                </ul>
            </nav>
        </div>
            <button type="button" class="header-btn">SIGN UP</button>
    </header>
