<!-- Footer Section-->
<footer id="contacts" class="footer">
  <div class="footer-container">
    <div class="footer-column">
      <a href="#">
        <svg class="nav-logo-icon" width="123" height="16">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <a class="phone" href="tel:+390965438912">+39 096 543 8912</a>
      <p>1678 S. Pioneer Road Salt Lake City UT 84104</p>
    </div>
    <div class="medium">
        <ul class="social">
          <li>
            <a href="https://www.instagram.com/goit.turkiye/" target="_blank"
              >INSTAGRAM</a
            >
          </li>
          <li>
            <a href="https://m.youtube.com/@GoITTurkey" target="_blank"
              >YOUTUBE</a
            >
          </li>
          <li>
            <a
              href="https://www.facebook.com/people/GOIT-T%C3%BCrkiye/61558036560161/"
              target="_blank"
              >FACEBOOK</a
            >
          </li>
        </ul>
      
        <ul class="infos">
          <li>
            <a href="#about-us">ABOUT US</a>
          </li>
          <li>
            <a href="#our-courses">OUR COURSES</a>
          </li>
          <li>
            <a href="#our-mentors">OUR MENTORS</a>
          </li>
          <li>
            <a href="#reviews">REVIEWS</a>
          </li>
          <li>
            <a href="#contacts">CONTACTS</a>
          </li>
        </ul>
      
    </div>
    <div class="subscribe">
      <form class="forms">
        <input
          type="email"
          placeholder="Enter your email"
          required
          pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
        />
        <button type="submit">Go</button>
      </form>
    </div>
  </div>
  <div class="footer-bottom">
    <div>
      <p>Privacy Policy</p>
      <p>Public Offering Agreement</p>
    </div>
    <div>
      <p>2024 Focus Frame</p>
      <p>&copy; All rights reserved</p>
    </div>
  </div>
</footer>