.reviews_section {
  position: absolute;
  width: 1240px;
  height: 300px;
  top: 3610px;
  left: 100px;
  margin-bottom: 80px;
}

.reviews_first {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 15px;
}

.reviews_header2 {
  font-family: 'DM Sans', sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: -0.04em;
  margin-bottom: 50px;
  color: rgba(255, 255, 255, 1);
}

.reviews_ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}

.reviews_list {
  border: 1px solid #666;
  border-radius: 10px;
  flex-basis: calc((100% - 40px) / 2);
  padding: 20px;
  background-color: #222222;
}

.reviews_second {
  display: flex;
  justify-content: space-between;
  width: 1240px;
  height: 196px;
}
.block{
  display: flex;
  gap: 20px;
}

.reviews_list .reviews_second .block img {
  border-radius: 50%;
}

.reviews_name {
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.75rem;
  color: rgba(255, 255, 255, 1);
}

.reviews_title {
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.5);
}
.stars {
  font-size: 20px;
  color: #e0a96d;
  }

.reviews_commend {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25rem;
  color: rgba(255, 255, 255, 1);
  margin: 10px 0;
}

@media (min-width: 768px) {
  .reviews_first{
  max-width: 768px;
  }
  
}
    
@media (min-width: 1280px) {
  .reviews_header2 {
     font-size: 48px;
     line-height: 3.375rem;
   }
   .reviews_first {
     max-width: 1240px;
   }
   .reviews_ul {
     flex-direction: row;
   }
   
 }