  <!-- Reviews Section --> 
  <section class="reviews_section">
    <div class="reviews_first">
      <h2 class="reviews_header2">Reviews</h2>
      <ul class="reviews_ul">
        <li class="reviews_list">
          <div class="reviews_second">
            <img
            src="./reviews_img/AbrahamBaker.jpg"
            height="56"
            width="56"
            alt="Abraham Baker - Student"
            />
            <h3 class="reviews_name">Abraham Baker</h3>
            <h4 class="reviews_title">Student</h4>
            <svg class="reviews_svg" width="56" height="56">
              <use href="./reviews_img/stars.svg#icon-stars"></use>
            </svg>
          </div>
          <p class="reviews_commend">                    
            I am very pleased that I decided to enroll in photography school. The teachers 
            turned out to be very talented and experienced professionals who share their 
            knowledge and are dedicated to their work. I was able to expand my skills and 
            discover my own style.
          </p>
        </li>
        <li class="reviews_list">
          <div class="reviews_second">
            <img
            src="./reviews_img/AmandaLowery.jpg"
            height="56"
            width="56"
            alt="Amanda Lowery - Student"
            />
            <h3 class="reviews_name">Amanda Lowery</h3>
            <h4 class="reviews_title">Student</h4>
            <svg class="reviews_svg" width="56" height="56">
              <use href="./reviews_img/stars.svg#icon-stars"></use>
            </svg>
          </div>
          <p class="reviews_commend">                     
            The courses at the photography school exceeded all my expectations. I gained 
            not only technical knowledge, but also inspiration and motivation to reach new 
            heights in my creativity. Hands-on classes and workshops helped me 
            understand different styles of photography.
          </p>
        </li>
      </ul>
    </div>
  </section>