 /*footer*/
 .footer_section {
  position: absolute;
  background-image: url(../../../images/Graphic.png);
  width: 1440px;
  height: 331px;
  top: 4060px;  
  margin: 150px 0 0 80px;
  color: #FFFFFF;
  font-family: 'DM Sans', sans-serif;
}

.footer-container {
  text-align: left;
  display: block;
  gap: 32px;
  margin-top: 50px;
  margin-left: 100px;
}
.footer-top{
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  display: block;
  filter: brightness(0) invert(1);
}

.footer-contacts {
  width: 287px;
  height: 46px;
  top: 91px;
  left: 100px;
  row-gap: 10px;
  margin-top: 25px;
  margin-bottom: 133px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.footer-phone {
  display: block;
  font-size: 14px;
  color: #FFFFFF;
  text-decoration: none;
  margin-bottom: 10px;
  font-weight: 400;
}

.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}

.footer-legal {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-link {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;

}

.footer-nav {
  display: flex;
  gap: 25px;
  margin-bottom: 50px;
}

.footer-nav-column {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-nav-link {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
}

.footer-form {
  text-align: right;
  display: flex;
  gap: 8px;
  padding-right: 100px;
  
}
.footer-input {
  width: 178px;
  height: 60px;
  padding: 0 16px;
  background: #FFFFFF;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-family: 'DM Sans', sans-serif;
}

.footer-button {
  width: 60px;
  height: 60px;
  background: rgba(29, 29, 29, 1);
  border: none;
  border-radius: 12px;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  font-family: 'DM Sans', sans-serif;
}
.footer-end{
display: flex;
justify-content: space-between;
margin-bottom: 21px;
}
.footer-legal{
  top: 270px;
  left:100px;
}
.footer-copyright{
  padding-right: 100px;
}
@media (min-width:375px) and (max-width:767px){ 
  .footer_section{
  width: 375px;
  height: 535px;
  top: 5518px;
}
.footer-container{
  display: block;
  margin-left: 20px;
  margin-top: 40px;
}
.footer-top{
  display: block;
}
.footer-contacts{
  width: 287px;
  height: 46px;
  top: 76px;
  font-size: 14px;
  line-height: 18px;
  left: 20px;
 
  letter-spacing: 0%;
  margin-top: 16px;
}
.footer-left{
  width:287;
  height: 82px;
  top: 40px;
  left: 20px;
  justify-content: space-between;
  margin-left: 20px;
}
.footer-middle{
  width: 214px;
  height: 146px;
  top: 162px;
  left: 20px;
  gap: 40px;
  font-size: 14px;
  line-height: 100%;
  margin: 40px 141px 75px 20px;
}
.footer-right{
  display: flex;
}
.footer-input{
  width: 267px;
  height: 60px;
}
.footer-end{
  display: flex;
  font-size: 12px;
  line-height: 16px;
  margin-left: 20px;
  margin-top: 40px;
  }
  .footer-legal{
    width: 147px;
    height: 32px;
  }
  .footer-copyright{
    width: 116px;
    height: 32px;
    padding-right: 0;
  }
}
@media (min-width:768px) and (max-width:1279px) {
  .footer_section{
    width: 768px;
    height: 331px;
    top: 5180px;
  }
  .footer-container{
    display: block;
    margin-left: 32px;
    margin-top: 50px;
  }
  .footer-top{
    display: flex;
    gap: 10px;
  }
  .footer-contacts{
    width: 152px;
    height: 64px;
    top: 91px;
    font-size: 14px;
    line-height: 18px;
    left: 32px;
    letter-spacing: 0%;
    margin-top: 16px;
  }
  .footer-left{
    width:152px;
    height: 105px;
    top: 50px;
    left: 32px;
    margin-left: 32px;
  }
  .footer-middle{
    width: 199px;
    height: 146px;
    top: 50px;
    left: 232px;
    gap: 25px;
    font-size: 14px;
    line-height: 100%;
    margin: 0 59px 135px 48px;
  }
  .footer-right{
    display: flex;
    margin-right: 32px;
  }
  .footer-input{
    width: 178px;
    height: 60px;
  }
  .footer-end{
    display: flex;
    font-size: 14px;
    line-height: 18px;
    margin-left: 32px;
    margin-top: -74px;
    }
    .footer-legal{
      width: 171px;
      height: 36px;
    }
    .footer-copyright{
      width: 136px;
      height: 36px;
      padding-right: 0;
    }
}
@media (min-width:1280px) and (max-width:1439px){
  .footer_section{
    width: 1278px;
    height: 331px;
    top: 4120px;
  }
  .footer-container{
    margin-left: 100px;
    margin-top: 50px;
  }
  .footer-top{
    display: flex;
    gap: 50px;
  }
  .footer-contacts{
    width: 287px;
    height: 46px;
    top: 91px;
    font-size: 14px;
    line-height: 18px;
    left: 100px;
    letter-spacing: 0%;
    margin-top: 25px;
  }
  .footer-left{
    width:287;
    height: 87px;
    top: 50px;
    left: 100px;
    justify-content: space-between;
    margin-left: 0;
  }
  .footer-middle{
    width: 224px;
    height: 170px;
    top: 50px;
    left: 527px;
    gap: 50px;
    margin: 0 auto;
  }
  .footer-right{
    display: flex;
  }
  .footer-input{
    width: 216px;
    height: 60px;
  }
  .footer-end{
    display: flex;
    font-size: 14px;
    line-height: 18px;
    margin-top: 20px;
    }
    .footer-legal{
      width: 171px;
      height: 36px;
    }
    .footer-copyright{
      width: 134px;
      height: 36px;
      padding-right: 0;
    }
  }