 /*footer*/
 .footer_section {
  position: absolute;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Graphic.png);
  width: 1440px;
  height: 331px;
  top: 4060px;
  
  margin: 150px 0 0 0;
  color: #FFFFFF;
  font-family: 'DM Sans', sans-serif;
}

.footer-container {
  text-align: left;
  display: flex;
  justify-content: space-between;
  gap: 32px;
  margin-top: 50px;
  margin-left: 100px;
}

.footer-logo {
  display: block;
  filter: brightness(0) invert(1);
}

.footer-contacts {
  width: 287px;
  height: 46px;
  top: 91px;
  left: 100px;
  row-gap: 10px;
  margin-top: 25px;
  margin-bottom: 133px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.footer-phone {
  display: block;
  font-size: 14px;
  color: #FFFFFF;
  text-decoration: none;
  margin-bottom: 10px;
  font-weight: 400;
}

.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}

.footer-legal {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-link {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
}

.footer-nav {
  display: flex;
  gap: 25px;
  margin-bottom: 50px;
}

.footer-nav-column {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-nav-link {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
}

.footer-form {
  text-align: right;
  display: flex;
  gap: 8px;
  padding-right: 100px;
  
}
.footer-input {
  width: 178px;
  height: 60px;
  padding: 0 16px;
  background: #FFFFFF;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-family: 'DM Sans', sans-serif;
}

.footer-button {
  width: 60px;
  height: 60px;
  background: rgba(29, 29, 29, 1);
  border: none;
  border-radius: 12px;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  font-family: 'DM Sans', sans-serif;
}

.footer-copyright {
  text-align: right;
  margin-top: 160px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #FFFFFF;
  margin-right: 100px;
  margin-left: 100px;
  width: 134px;
  height: 36px;
  top: 270px;
  left: 1206px;
}
