<!--Sign Up-->
<section>
    <div class="form-div" id="sign-link">
        <div class="sign-div">
            <h2 class="sign-h2"><span class="sign-span">Sign</span> <span class="sign-span2">Up</span></h2>
            <p class="sign-p1">Please use the form below to contact us. Enter your name, email, and message and we'll get back to you shortly.</p>
            <form>
                <div class="sign-list">
                    <label for="user-name" class="your-name" ></label>
                    <div class="form-box">
                        <input type="text" name="user-name" id="user-name" class="name-input" placeholder="Enter your name">
                    </div>
                    <label for="user-mail" class="your-mail" ></label>
                    <div class="form-box">
                        <input type="text" name="user-mail" id="user-mail" class="name-input" placeholder="Enter your email">
                    </div>
                    <label for="user-text" class="your-text"></label>
                    <div class="form-text">
                        <textarea name="form-text" id="form-text" class="form-textarea" placeholder="Message"></textarea>
                    </div>
                </div>
            </form>
            <button type="submit" class="submit-btn">Send</button>
        <p class="sign-p2">By clicking on “Send” button, you agree to our <span class="span-p2">Privacy Policy</span>, 
            and allow Promodo to use this information for marketing purposes.</p>
    </div>
    <div class="form-img">
        <div class="isabella-div">
            <img src="./images/isabella.png" alt="isabella" class="isabella" width="163" height="154">
        </div>
        
        <div class="video-div"><img src="./images/video.png" alt="video" class="video" width="254" height="313"></div>
    </div>
</div>
</section>
