/*REKLAM*/
.master-sec{
    margin: 0 100px 150px 100px;
    width: 1440px;
    height: 112px;
    top: 910px;
    left: -30px;
    position: absolute;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.master{
  font-family: "DM Sans", sans-serif;
  overflow: hidden;
  font-weight: 400;
  font-size: 59px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.master-span{
    color: rgba(190, 166, 158, 1);
}

.master-div {
  display: flex;
}

.master-line {
  flex-shrink: 0;
  margin: 0;
  padding: 10px 15px;
  min-width: 100%;
  white-space: nowrap;
  animation-name: masterLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes masterLine {
  from {
    transform: translateX(0);
  }
  
  to {
    transform: translateX(-100%);
  }
}
@media (min-width:375px) and (max-width:767px){
  .master-sec{
    width: 588px;
    height: 72px;
    top: 947px;
    left: -106px;
}
.master-div{
    width: 588px;
    height: 32px;
    top: 20px;
    font-size: 28px;
    line-height: 32px;
    margin: 20 107px 20 107px;
}
.master-span{
    font-size: 28px;
    line-height: 32px;
}
}
@media (min-width:768px) and (max-width:1279px) {
  .master-sec{

    width: 840px;
    height: 98px;
    top: 1120px;
    left: -36px;
}
.master-div{
    width: 840px;
    height: 50px;
    top: 24px;
    font-size: 40px;
    line-height: 50px;
    margin: 24px 0 ;
}
.master-span{
    font-size: 40px;
    line-height: 50px;
}
}
@media (min-width:1280px) and (max-width:1439px){ 
  .master-sec{
position:absolute;
    width: 1280px;
    height: 112px;
    top: 910px;
    left: 15px;
    margin: 0 0 100px 0;
}
.master-div{
    width: 1239px;
    height: 64px;
    top: 24px;
    left: 21px;
    font-size: 59px;
    line-height: 64px;
}
.master-span{
    font-size: 59px;
    line-height: 64px;
}
}
